header{
  max-width:990px;
  min-width:300px;
  margin:0 auto;
}

section {
  max-width:990px;
  min-width:500px;
  margin:0 auto;
}

.core-content {
    display: flex;
    flex-direction: column;
}

@include respond-to(large) {
    .core-content {
        flex-direction: row;
    }
}