input[type="checkbox"] {
  padding-left:5px;
  padding-right:5px;
  border-radius:15px;

  -webkit-appearance:button;

  border: double 4px #ccc;

  background-color:#ccc;
  color:#FFF;
  white-space: nowrap;
  overflow:hidden;

  width:25px;
  height:25px;
}

input[type="checkbox"]:checked {
  background-color:#3498db;
}

input[type="checkbox"]:hover {
  box-shadow:0px 0px 10px #1300ff;
}