h1{
  font-family: 'LatoLight', Lato, arial, sans-serif;
}

h1 span {
  font-family: 'LatoBold', Lato, arial, sans-serif;
  font-weight:900;
}

h2 {
  font-family: 'LatoBold', Lato, arial, sans-serif;
  font-weight:100;
  color:#2C3E50;
}